@charset "utf-8";

@import url('../../css/reset.css');
@import url('../../css/common.css');


section {font-size: 16px;}

.publ .menu {
    display: flex;
    justify-content: center;
}
/* #F25A38 */
.publ .menu li {
    height: 45px;
    line-height: 43px;
    margin: 0 10px;
    padding: 0 30px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 40px;
    cursor: pointer;
}
.publ .menu li.on {
    background-color: #f25a38;
    border: 1px solid #f25a38;
    color: #fff;
    box-shadow: 3px 3px 10px #ff532d9f;
}

.publ .cont {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.publ .cont article {
    width: 18.5%;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #d7d7d7
}
.publ .cont article figure {
    height: 250px;
    border-bottom: 1px solid #eee;
}
.publ .cont article figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.publ .cont article div {
    padding: 30px 10px;
    text-align: center;
}
.publ .cont article div h4 {
    font-size: 22px;
    font-weight: 700;
}
.publ .cont article div p {
    font-size: 14px;
    color: #595955;
    line-height: 1.5;
    margin: 10px 0;
}
.publ .cont article ul {
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 30px;
}
.publ .cont article ul li a {
    /* padding: 0 20px; */
    margin: 7px 0;
    height: 40px;
    line-height: 40px;
    background-color: rgb(242, 184, 75);
    color: #fff;
}
.publ .cont article ul li:nth-child(2) a {
    background-color: #fff;
    border: 1px solid rgb(242, 184, 75);
    box-sizing: border-box;
    color: #595955;
}


